.container_home {
    height: 100vh;
}

.author {
    position: absolute;
    bottom: 0;
    right: 20px;
    color: white;
    font-style: italic;
}

.welcome {
    background-image: url('/welcome.jpg');
    background-size: cover;
    height: 500px;
    background-position: center;
    border-radius: 10px;
    position: relative;
}